@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
